

nav {
    color: saddlebrown;

}
.bg-img {
    background-image: url("https://pixabay.com/videos/id-49981/");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}